$black: black;
$brown-dark: #35312D;
$arrow-inactive: #202020;
$tomato: #C62100;
$tomato-light: #F16A50;
$brown-light: #F8F1EA;
$dot-inactive: rgba(248, 241, 234, 0.7);
$dark-dot-inactive: #CAC2BA;
// $white: white;
// $gray: #4B5D68;
// $light_gray: #f6f6f6;
// $blu: #4A4FF2;
// $purple: #9C69E2;
// $pink: #F063B8;
// $dblue: #212353