// .bk{
//     background: url('../../assets/image/foto3.png') 0 0/100% 100% no-repeat;
//     height: 570px;
// }


.allGames__title{
    text-align: center;
    margin-top: 10px;
}
.allGames__semititle{
    text-align: center;

    margin: 10px;
    color: gray; 
    list-style: 1.2;
}