
.bandl{
    margin: 10px;
    width: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px gray;
    &:hover{
        transform: scale(1.1);
    }
    @media screen and (max-width: 478px) {
       width: 150px;
      }

}
.title{
    font-style: 18px;
    font-weight: 600;
    padding-bottom: 5px;
    @media screen and (max-width: 478px) {
        font-style: 14px;
       }
}
a{
    text-decoration: none;
}
.image_main{
    width: 195px;
    @media screen and (max-width: 478px) {
        width: 150px;

       }

}
.text_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;

    
}
.description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 200px;
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    z-index: 5;
    &:hover{
     width: 200px;
    overflow: visible ;
    white-space: pre-wrap;
    transition-delay: 3s;  
    }
    
}
.games__button{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.bottom_object{
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.genre{

    position: relative;
    
    color: #8e8c84;
}



