.form_wrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 150px auto;
  border-radius: 8px;
  img {
    width: 250px;
    @media screen and (max-width: 450px) {
      width: 150px;
    }
  }
}
.register_title {
  text-align: center;
  margin-bottom: 40px;
}

.form {
 
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  justify-content: center;
}

.field {
  display: flex;
  justify-content: space-between;
}
.submit_btn {
  margin-top: 30px;
  align-self: flex-start;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: orangered;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: crimson;
  }
}
.errors {
  color: red;
  text-align: end;
  width: 50px;
}

.register_tabl {
  height: 50px !important;
}
.register_tabl__password {
  display: flex;
  justify-content: space-between;
}
.register_semi__text {
  text-align: center;
  color: gray;
  margin-top: 40px;
  margin-left: -200px;
  @media screen and (max-width: 450px) {
    margin-left: -130px;
  }
}
