

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
html,body{width:100%;font-size:100%;line-height:1;font-size:14px;}
button{cursor: pointer;}
a,a:visited{text-decoration: none; }
a:hover{text-decoration: none; }
ul li{list-style: none; }
h1{
   margin: 0;
   padding: 0;
}
// /*--------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  overflow-x: hidden;
  position: relative;
}
.allPage{
  height: 100vh;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Preview{
  margin-top: 50px;
  width: 150px;
  height: 200px
}
  @media (prefers-reduced-motion: no-preference) {
      .Preview {
        animation: Preview-spin infinite 0.5s linear alternate;
        
      }
    }
    @keyframes Preview-spin {
      from {
        transform: rotate(0deg) scale(1);
      }
      to {
        transform: rotate(5deg) scale(1);
      }
    }


    .wrapper__title {
      text-align: center;
    }
    
    .wrapper__title,
    .wrapper__title:after,
    .wrapper__title:before {
      transition: all 0.5s;
    }
    .wrapper__title:hover {
      color: #555;
      cursor: pointer;
    }
    
    .wrapper__title {
      position: relative;
    }
    .wrapper__title:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: " ";
      background: currentColor;
      height: 1px;
    }
    .wrapper__title:hover:after {
      width: 100%;
    }
    
    .postWrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 20px auto;
    }
    .wrapper {
      margin: 80px 20px;
      min-height: 450px;
    }
    .wrapper__title {
      text-align: center;
    }
.skeleton{
  display: flex;
justify-content: center; 
//   flex-direction: row;
margin-top: 170px;
margin-bottom: 20px;
height: 300px;
@media screen and (max-width: 500px) {
  height: 150px;  
}
}

 