.slideWrapper {
  // width: 80hv;
  // height: 500px;
    margin: 0 auto;
    // margin-bottom: 100px;
    position: relative;
    margin-top: 70px;
  
    
  
    img {
      width: 100%;
      height: 100%;
      // margin: 10px;
    }
  }